body {
    background-color: #ffe9b8; 
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 60px;
    color: #E7D1A8;
    font-family: 'Fredoka', Arial, sans-serif;
}

.displayScores {
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}

.ScrabbleOneLineDiv {
    position: relative;
    /*Chose this width for the tiles to fit almost perfectly*/
    max-width: 825px; 
    width: 95%;
    margin: 50px auto;
}

#ScrabbleOneLine {
    width: 100%;
    height: auto;
    display: block;
}

#board-slots {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.board-slot {
    /*Was very difficult to learn to do but 
    divides the space into 15 to fit the tile slots*/
    flex: 0 0 calc(100% / 15);
    height: 100%;
    position: relative;
}

.ScrabbleTileHolderDiv {
    position: relative;
    max-width: 640px;
    margin: 50px auto;
}

#ScrabbleTileHolder {
    width: 100%;
    height: auto;
    display: block;
}

#rack-slots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px; 
    display: flex;
    justify-content: center;
    gap: 6px;
    z-index: 10;
}

.tile {
    width: 55px;
    height: 55px;
    cursor: grab;
    object-fit: contain;
    z-index: 100;
}

#Submit, #Restart, #newHand {
    border-radius: 16px;
    padding: 15px 25px; 
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #555;
    background-color: #fff; 
    cursor: pointer;
}

#Submit:hover, #Restart:hover, #newHand:hover {
    background-color: #f0f0f0;
}

#message-area {
    margin-top: 20px;
    font-weight: bold;

}
